asgiref==3.5.2
Babel==2.10.1
Beaker==1.11.0
blinker==1.4
brotli==1.0.9
brotlicffi==1.0.9.2
cdecimal==2.3
chardet==4.0.0
colorama==0.4.4
ConfigParser==5.2.0
cryptography==37.0.2
cx_Oracle==8.3.0
Cython==0.29.30
dl==0.1.0
dogpile.core==0.4.1
eventlet==0.33.1
gevent==21.12.0
importlib_resources==5.7.1
inotify==0.2.10
ipaddr==2.2.0
ipython==8.3.0
keyring==23.5.1
lingua==4.15.0
mx==3.2
mypy_extensions==0.4.3
numpy==1.22.4
ordereddict==1.1
PasteScript==3.2.1
pgdb==0.0.11
protobuf==4.21.0
Pygments==2.12.0
pyOpenSSL==22.0.0
pysqlcipher3==1.0.4
pysqlite==2.8.3
pytest==7.1.2
python_dateutil==2.8.2
setproctitle==1.2.3
simplejson==3.17.6
sqlcipher3==0.4.5
Sybase==0.35
tornado==6.1
typing_extensions==4.2.0
unicodedata2==14.0.0
watchdog==2.1.8
wincertstore==0.2.1
